*.1                text
*.a                binary
*.afm              text
*.am               text
*.c                text diff=cpp
*.chibi            text
*.cmake            text
*.cpp              text diff=cpp
*.dat              binary
*.def              text eol=crlf
*.dylib            binary
*.el               text
*.h                text diff=cpp
*.h                text diff=cpp
*.hpp              text diff=cpp
*.in               text
*.ipp              text diff=cpp
*.jpg              binary
*.libs             text
*.mk               text
*.modulemap        text
*.msvc             text
*.msvc_dll         text
*.pdf              binary
*.pfb              binary
*.pl               text
*.png              binary
*.rc               text eol=crlf
*.rc.template      text eol=crlf
*.res              binary
*.sch              text
*.scm              text
*.scrbl            text
*.sh               text eol=lf
*.sld              text
*.spec             text
*.tb               text
*.templ            text
*.textbook         text
*.tstyle           text
*.ttf              binary
*.txt              text
*.vcproj           text
*_cmake            text
.clang-format      text
.gitattributes     text
.gitignore         text
AUTHORS            text
CHANGES            text
COPYING            text
INSTALL            text
LICENCE            text
LICENSE            text
Makefile           text
Makefile.*         text
README             text
README.*           text
RELEASE            text
TODO               text
VERSION            text
bash_completion    text
mkfile             text
