branches:
  only:
    - master

os:
  - linux

dist: bionic

compiler:
  - clang
  - gcc

language: cpp

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - clang
      - gcc
      - g++

before_script:
  - pip3 install --user meson
  - ~/.local/bin/meson setup output && cd output

script:
  - ~/.local/bin/meson compile
  - ~/.local/bin/meson test
