(display "This is test.templ") (newline)
(define r (grove-root))

(display r) (newline)
(display "A node? ") (display (node? r)) (newline)
(display "  GI: ") (display (gi r)) (newline)
(display "  GI: ") (display (node-property 'gi r)) (newline)
(display "  start-time: ") (display (node-property 'start-time r)) (newline)
(display "  end-time: ") (display (node-property 'end-time r)) (newline)


(define nl (empty-node-list))
(display nl) (newline)
(display "A node list? ") (display (node-list? nl)) (newline)
(display "  length: ") (display (node-list-length nl)) (newline)
(display "  head: ") (display (node-list-head nl)) (newline)
(display "  empty?: ") (display (node-list-empty? nl)) (newline)
(newline)


(let loop ((nl (descendants (grove-root))))
     (if (node-list-empty? nl)
         #t
         (begin
           (display (gi (node-list-head nl))) (newline)
           (loop (node-list-rest nl)))
         ))
